@import '../../../styles/App.scss';

.BracketFilters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > div:nth-child(2) {
    width: 200px;
    flex-shrink: 0;
  }

  > div:nth-child(3) {
    width: 300px;
    flex-shrink: 0;
  }

  @include tablet {
    flex-wrap: wrap;

    > div:nth-child(1) {
      width: 100%;
    }

    > div:nth-child(3) {
      flex-grow: 1;
    }
  }

  @include phone {
    > div:nth-child(2) {
      flex-grow: 1;
    }
  }
}
