.EntryTable {
  th {
    &.align-center button > .cds--table-sort__flex {
      justify-content: center;
    }
    &.align-right button > .cds--table-sort__flex {
      justify-content: flex-end;
    }
  }

  td {
    &.align-center,
    &.align-right {
      padding-right: 2.2rem;
    }
  }
}
