.DivisionTitle {
  display: grid;
  grid-template-columns: auto 40px;
  grid-gap: 1rem;
  align-items: center;

  .DivisionTitle__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
  }
}
